TODO.txt

aclocal.m4
config.log
config.status
configure
Gurobify.la
libtool
Makefile
Makefile.in
.libs/Gurobify.lai
.libs/Gurobify.so

output.0
output.1
output.2
requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
bin/x86_64-apple-darwin16.1.0-gcc-default64/Gurobify.so
cnf/ar-lib
cnf/compile
cnf/config.guess
cnf/config.sub
cnf/depcomp
cnf/install-sh
cnf/ltmain.sh
cnf/missing
cnf/pkgconfig.h.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.dirstamp
src/Gurobify_la-Gurobify.lo
src/pkgconfig.h
src/stamp-h1
src/.deps/.dirstamp
src/.deps/Gurobify_la-Gurobify.Plo
src/.libs/Gurobify_la-Gurobify.o
doc/_AutoDocMainFile.xml
doc/_Chapter_Apendix.xml
doc/_Chapter_Examples.xml
doc/_Chapter_Getting_Started.xml
doc/_Chapter_Gurobify_automatic_generated_documentation.xml
doc/_Chapter_Gurobify_Functions.xml
doc/_Chapter_Installation.xml
doc/_Chapter_Introduction.xml
doc/chap0.html
doc/chap0.txt
doc/chap0_mj.html
doc/chap1.html
doc/chap1.txt
doc/chap1_mj.html
doc/chap2.html
doc/chap2.txt
doc/chap2_mj.html
doc/chap3.html
doc/chap3.txt
doc/chap3_mj.html
doc/chap4.html
doc/chap4.txt
doc/chap4_mj.html
doc/chap5.html
doc/chap5.txt
doc/chap5_mj.html
doc/chap6.html
doc/chap6.txt
doc/chap6_mj.html
doc/chap7.html
doc/chap7.txt
doc/chap7_mj.html
doc/chapInd.html
doc/chapInd.txt
doc/chapInd_mj.html
doc/chooser.html
doc/Gurobify.aux
doc/Gurobify.bbl
doc/Gurobify.blg
doc/Gurobify.idx
doc/Gurobify.ilg
doc/Gurobify.ind
doc/Gurobify.log
doc/Gurobify.out
doc/Gurobify.pnr
doc/Gurobify.tex
doc/Gurobify.toc
doc/Gurobify.xml
doc/lefttoc.css
doc/manual.css
doc/manual.js
doc/manual.lab
doc/nocolorprompt.css
doc/ragged.css
doc/rainbow.js
doc/times.css
doc/title.xml
doc/toggless.css
doc/toggless.js
_Chapter_Appendix.xml
_Chapter_Using_Gurobify.xml
