/aclocal.m4
/autom4te.cache/
/bin/
/config.log
/config.status
/configure
/doc/_*.xml
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/*.xml.bib
/doc/chap*.html
/doc/chap*.txt
/doc/chooser.html
/doc/Gurobify.xml
/doc/manual.pdf
/doc/title.xml
/Gurobify.la
/libtool
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/maketest.g
/src/Gurobify_la-Gurobify.lo
/src/pkgconfig.h
/src/stamp-h1
/tmp/
/TODO.txt

# filenames to ignore everywhere
.dirstamp
gurobi.log
SudokuSolver.lp
test.lp
var_names
.libs/
.deps/
