TODO.txt

aclocal.m4
config.log
config.status
configure
Gurobify.la
libtool
Makefile
Makefile.in
.libs/Gurobify.lai
.libs/Gurobify.so

output.0
output.1
output.2
requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
bin/x86_64-apple-darwin16.1.0-gcc-default64/Gurobify.so
cnf/ar-lib
cnf/compile
cnf/config.guess
cnf/config.sub
cnf/depcomp
cnf/install-sh
cnf/ltmain.sh
cnf/missing
cnf/pkgconfig.h.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.dirstamp
src/Gurobify_la-Gurobify.lo
src/pkgconfig.h
src/stamp-h1
src/.deps/.dirstamp
src/.deps/Gurobify_la-Gurobify.Plo
src/.libs/Gurobify_la-Gurobify.o
SudokuSolver.lp
gap.sh
test.lp
_Chapter_Introduction.xml
chap0.html
_Chapter_Using_Gurobify.xml
chap0.txt
title.xml
manual.six
manual.pdf
manual.lab
Gurobify.toc
Gurobify.ind
Gurobify.bbl
chap1.txt
chap0_mj.html
chap1.html
chap1_mj.html
chap3.html
chap3.txt
chap3_mj.html
Gurobify.aux
Gurobify.blg
Gurobify.idx
Gurobify.ilg
Gurobify.log
Gurobify.pnr
Gurobify.out
Gurobify.tex
